.banner {
    position: relative;
    display: flex;
    flex-direction: column;
}

.banner__title {
    background: #FFFFFF;
    font-style: italic;
    font-weight: 400;
    font-size: 22px;
    line-height: 28px;
    padding: 8px 15px;
}

.banner__slogan {
    position: absolute;
    display: flex;
    align-items: flex-start;
    flex-direction: column;
    bottom: 69px;
}

.baner__img {
    width: 100%;
    height: auto;
}

.banner__description {
    background: #000000;
    font-style: italic;
    font-weight: normal;
    font-size: 14px;
    line-height: 20px;
    color: #FFFFFF;
    padding: 8px 15px;
}

@media screen and (max-width: 767px) {
    .banner__slogan {
        bottom: 0;
        display: block;
        width: 100%;
    }

    .banner__title {
        display: block;
        opacity: 0.6
    }
    
    .banner__description {
        display: block;
    }
}


@media screen and (max-width: 479px) {
    .banner {
        margin: 0 -15px;
    }
 }